<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  <title>LaDouceur</title>
</head>

<body>
  <div class="main" ng-app="mytodo" ng-controller="myCtrl">
    <h1>Menu</h1>
    <div class="search">
      <input type="text"/>
    </div>
    <ul>
      <li *ngFor="let menu of menus">
        {{ menu.menu_card_desc}}
      </li>
    </ul>
    <p></p>
  </div>
</body>

</html>
